body {margin:0; padding:0; width:100%; min-width:1000px; font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 400; font-size:16px; color:#676767; background:#fff; line-height:28px; letter-spacing:0.5px; display:none;}
a {text-decoration:none; color:#676767;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {webkit-appearance:none;}
input[type='text'] {border:none; background:#fff; width:268px; height:30px; padding:10px; float:left; color:#676767; font:normal 13px "brandon-grotesque";}
input[type='submit'] {border:none; text-transform:uppercase; color:#fff; font-size:13px; font-weight:bold; background:#81ba9b; padding:15px 25px; border-radius:20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
input[type='submit']:hover {background:#a1d7ba;}
p {margin:0; float:left;}
textarea {resize:none;}
#header, #footer, #features, #pricing, #signup, #main, #slideshow, #main-info, #terms {float:left; width:100%;}
.mid-cont {position:relative; width:900px; margin:auto;}
.last {margin-right:0 !important; padding-right:0 !important; border-right:none !important;}
.line {width:100%; height:1px; float:left; margin:92px 0 55px 0; z-index:1;}
.title {position:absolute; padding:10px 32px; text-transform:uppercase; font-size:13px; font-weight:bold; z-index:10; margin-top:70px; margin-left:388px;}
.right {float:right !important;}

/*HEADER*/
#header {height:144px;}
#header #logo {float:left; background:url(../images/logo.png) no-repeat; width:286px; height:54px; margin-top:40px;}
#header #nav {float:right; margin-top:62px;}
#header #nav .nav-link {float:left; text-transform:uppercase; color:#666666; font-size:13px; font-weight:bold; padding:6px 24px; border-right:1px solid #ededed; cursor:pointer;}
#header #nav .nav-link:hover {color:#81ba9b;}
#header #nav #login {padding-right:24px !important; background:#81ba9b; color:#fff;}
#header #nav #login:hover {background:#a1d7ba;}

/*SLIDESHOW*/
#main #slideshow {height:422px; background:url(../images/pattern.jpg) repeat;}
#price-tag {position:absolute; right:40px; top:-1px; background:url(../images/price-tag.png) no-repeat; width:211px; height:58px; padding-top:32px; color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; z-index:100;}
#price-tag .price {float:left; font-size:36px; font-weight:normal; margin:0 12px 0 28px;}
#price-tag .price span {float:left; font-size:24px; font-weight:normal; margin-top:-4px;}
#price-tag .text {float:right; margin-right:20px; line-height:14px;}
#carousel {float:left; width:100%; height:100%;}
#carousel .arrow {position:absolute; background:url(../images/arrows.png) no-repeat; width:48px; height:57px; top:325px;}
#carousel .arrow:hover {background:url(../images/arrows-hover.png) no-repeat;}
#carousel #prev {left:-48px;}
#carousel #next {right:-48px; background-position:-32px 0;}
#carousel #slides {overflow:hidden; width:100%; height:100%;}
#carousel #slides ul {position:relative; width:10000px; height:422px;}
#carousel #slides ul li {width:900px; height:422px; float:left;}
#carousel .slide {float:left;}
#carousel .caption {position:absolute; width:830px; background:url(../images/caption-bg.png) repeat; top:301px; color:#fff; height:96px; padding:25px 35px 0 35px;}
#carousel .caption .big-title {float:left; font-size:42px; width:100%; margin-bottom:18px;}
#carousel .caption .text {float:left; font-size:18px; font-weight:bold; text-transform:uppercase;}

/*MAIN INFO TEXT*/
#main-info {margin-top:50px; padding-bottom:75px;}
#main-info .big-text {float:left; width:296px; font-size:36px; color:#666666; line-height:45px; letter-spacing:0;}
#main-info .text {float:right; width:525px; margin-top:5px;}
#main-info .text a {font-weight:bold; color:#599b77;}
#main-info .text a:hover {color:#666;}

/*FEATURES*/
#features {background:url(../images/white-triangle.png) no-repeat center 0 #81ba9b; padding-bottom:70px; background-size:90px;}
#features .line {background:#d9d9d9;}
#features .title {color:#81ba9b; background:#fff;}
#features .feature {float:left; min-height:330px; margin-right:34px; color:#fff; width:276px; padding-bottom:20px;}
#features .feature .feature-img {float:left; width:100%;}
#features .feature .feature-name {float:left; text-transform:uppercase; margin:15px 0 10px; width:100%; font-weight:bold;}
#features .feature .feature-info {float:left; width:100%; line-height:24px;}

/*PRICING*/
#pricing {background:url(../images/green-triangle.png) no-repeat center 0 #fff; padding-bottom:50px; background-size:90px; text-align:center; color:#666;}
#pricing .line {background:#aeaeae;}
#pricing .title {color:#fff; background:#666666;}
#pricing .text {width:585px; display:inline-block; font-size:20px;}

/*SIGNUP*/
#signup {background:url(../images/white-triangle.png) no-repeat center 0 #666; padding-bottom:40px; background-size:90px; color:#fff; text-align:center;}
#signup .line {background:#fff;}
#signup .title {color:#666; background:#fff; margin-left:395px;}
#signup .text {font-size:20px; width:100%; margin-bottom:50px;}
#signup #signup-form {display:inline-block; width:600px; }
form .input-cont {float:left; width:288px;  margin:0 20px 25px 0;}
form .label {float:left; font-size:13px; text-transform:uppercase; margin-bottom:5px; font-weight:bold;}
#signup #signup-form .button {margin-top:10px;}

/*FOOTER*/
#footer {height:40px; background:#8c8c8c; font-size:11px; font-weight:bold; text-transform:uppercase; color:#666; padding-top:20px; text-align:center;}
#footer .text-cont {display:inline-block; width:380px;}
#footer .footer-text {float:left;}

/*ACCOUNT CREATE*/
#account-create {float:left; width:100%; background:url(../images/pattern.jpg) 0 -42px repeat-x;}
#account-create #form-cont {float:left; width:790px; background:#fff; margin-top:25px; padding:40px 55px;}
#account-create #form-cont .form-text {float:left; width:275px; font-size:36px; color:#666; line-height:36px;}
#account-create #form-cont #account-form {float:right; width:460px;}
#account-create input[type='text'] {border:1px solid #dadada;}
#account-create #form-cont .small {float:right; width:152px; margin-right:0;}
#account-create #form-cont .small input[type='text'] {width:122px;}
#account-create #address-cont {float:left; width:100%;}
#account-create #acct_timezone {width:290px; float:left;}
#account-create #acct_state {width:185px;  padding:18px;float:left; border:none; height:50px; background:url(../images/arrow-select.jpg) 107px 0 repeat-y; color:#666;}
.styled-select {width:150px; float:left; overflow:hidden; border:1px solid #dadada; }
#account-create #submit {float:left; width:100%;}
#account-create #check-conditions {float:left; width:100%; margin-bottom:30px;}
#account-create #check-conditions input[type="checkbox"] {float:left; margin:7px 15px 0 0;}
#account-create #check-conditions .text {float:left;}
#account-create #check-conditions #terms-link {color:#81ba9b;}
#account-create #check-conditions #terms-link:hover {color:#676767;}	
	
/*TERMS and CONDITIONS*/	
#terms {background:url(../images/pattern.jpg) 0 -42px repeat-x;}	
#terms .mid-cont {background:#fff; padding:35px 55px; width:790px; margin-top:25px;}
#terms .page-title {float:left; width:100%; margin-bottom:30px; font-size:36px;}	
